# Get your API key from Twelve Data API and rename this file to .env


# Get your API key from https://twelve-data.com/ and set it here
TWELVE_DATA_API_KEY="your-api-key"


DB_NAME="stocks.sqlite"
MODEL_DIRECTORY="models"
